<div class="w-full flex flex-row flex-wrap p-5 gap-12 lg:gap-0">
  <div class="w-full flex flex-col lg:w-1/3 lg:pr-10 gap-5 lg:gap-15">
    <div class="w-full flex-col">
      <div class="text-2xl font-bold p-2">Explore Dog Breeds</div>
      <div class="text-lg p-2 text-slate-800">Choose a breed below to see a picture of it.</div>
    </div>
    <%= form_with(
      url: dogs_path,
      method: :get,
      class: "flex flex-col",
      data: {
        turbo_stream: true,
        turbo_frame: "dog-preview"
      }
    ) do |form| %>
      <%= form.label :breed_id, "Breed", class: "text-lg font-bold p-2" %>
      <%= form.combobox :breed_id, @breeds, input: { placeholder: 'E.g. Sheepdog' } %>
      <%=
        form.submit(
          "Show",
          class: "
            bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8 rounded-md
            cursor-pointer disabled:bg-gray-500 disabled:cursor-default disabled:animate-pulse
          "
        )
      %>
    <% end %>
  </div>

  <div id="dog-preview" />
</div>
